# dependencies
node_modules/

# Next.js
.next/
out/
build/

# env files (nunca commitear secretos)
.env
.env.local
.env*.local

# misc
.DS_Store
*.log
npm-debug.log*

# supabase local dev
supabase/.branches
supabase/.temp
